<!--  Header -->
<header>
    <nav class="ui menu">
        <div class="ui container">
            <h1 class="ui header item">MySite</h1>
            <h2 class="ui header borderless item">Angular2 Simple Reddit</h2>
        </div>        
    </nav>
</header>

<!-- Main -->
<main>
    <div class="ui container">
        <article-form> </article-form>

        <div class="ui grid">
            <article *ngFor="let article of articles" [article]="article"> </article>
        </div>        
    </div>
</main>

<!-- Footer -->
<footer>
    <div class="ui container">
        
    </div>
</footer>
