
<!-- left column for votes-->
<div class="three wide column center aligned article-left">
    <div class="ui statistic">
        <div class="value">{{article.votes}}</div>
        <div class="label">Points</div>
    </div>
</div>

<!-- right column -->
<div class="thirteen wide column article-right">
    <a class="ui large header articlre-tile" href="{{article.link}}">
        {{article.title}}
        <span class="sub header"> ({{article.domain()}})</span>
    </a>
    <ul class="ui horizontal list">
        <li class="item">
            <a href (click)="voteUp()">
                Vote up <i class="up arrow icon"></i>
            </a>
        </li>
        <li class="item">
            <a href (click)="voteDown()">
                Vote down <i class="down arrow icon"></i>
            </a>
        </li>
    </ul>
</div>
